
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登陆 </title>
    <link rel="stylesheet" href="/common/layui/css/layui.css">
    <link rel="stylesheet" href="/admin/css/login.css">
    <script src="/common/layui/layui.js"></script>
</head>

<body id="login">
<div class="login">
    <h2>LOGIN</h2>
    <form class="layui-form" method="post" target="_blank" action="">
        <div class="layui-form-item">
            <input type="username" name="user" placeholder="用户名" class="layui-input">
            <i class="layui-icon input-icon">&#xe66f;</i>
        </div>
        <div class="layui-form-item">
            <input type="password" name="pwd" placeholder="密码"  class="layui-input">
            <i class="layui-icon input-icon">&#xe673;</i>
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="box" lay-skin="primary" title="记住密码" checked=""> <a class="back" href="javascript:;"  style="margin-top: 10px">忘记密码</a>
        </div>
        <div class="layui-form-item">
            <button style="width: 100%" class="layui-btn" lay-submit lay-filter="login">立即登录</button>
        </div>
    </form>
    <div class="layui-form-item site-demo-button" id="layerDemo">
        <button data-method="offset" style="width: 100%" class="layui-btn">注册</button>
    </div>
    <script>


        layui.use('form', function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery;


            form.on('submit(login)', function (data) {
                sessionStorage.isLgoin = 1; //模拟登录状态,实际使用时请删除掉

                layer.load({
                    shade: 0.5,
                    time: 0,
                });
                $.ajax({
                    url: contextRoot+"patient/login",
                    data: {
                        name: data.field.user,
                        password: data.field.pwd
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == '200') {
                            setTimeout(function () {
                                window.location.href = contextRoot+'patient/queryGraph';
                            }, 1000)
                        }
                    }
                });


                return false;
            });
        });
    </script>

    <script>
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            //触发事件
            var active = {

                offset: function (othis) {
                    var type = 1
                        , text = othis.text();

                    layer.open({
                        type: 2
                        , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                        , id: 'layerDemo' + type //防止重复弹出
                        , content: "/patient/from"
                        , btn: '注册'
                        , area: ['700px', '400px']
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , yes: function (index, layero) {
                            var body = top.layer.getChildFrame('body', index);
                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();

                            $.ajax({
                                url: "/patient/registered",
                                type: 'post',
                                data: {
                                    username: body.find('#name').val(),
                                    password: body.find('#password').val(),
                                    email: body.find('#empEmail').val(),
                                    city: body.find('#city').val(),
                                    sex: body.find('input[name="empSex"]:checked').val(),
                                    status: "挂号"
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.code == 200) {
                                        layer.closeAll();
                                    } else if (data.code == 500) {
                                        layer.msg(data.msg, {
                                            icon: 2,
                                            time: 1000
                                        }, function () { });
                                    }
                                }
                            });
                        }
                    });
                }
            };

            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

        });
    </script>
</div>
</body>
<script>
    var contextRoot = "/";

</script>

</html>
